.quanda-registration {
  .footer-block__contact-wrapper {
    margin: 0 -1rem;
  }
  .footer-block__content,
  .contact-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .subnar__contet {
    padding-left: 0;
    padding-right: 0;
  }
}
