.quanda-landing-page {
  max-width: 768px;
  header {
    background: #eaf4fc;
    margin: -1.5rem -1rem 0 -1rem;
    & > div {
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .main-btn {
      background: linear-gradient(90deg, #ff005a 3.75%, #ff480d 100%);
    }
    h4 {
      line-height: 2.25rem;
    }
  }

  .feature {
    .slick-slider {
      margin: 0 -1rem;
    }
    .slick-dots {
      height: 2rem;
      top: calc(100% - 1rem);
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-slide {
      .header {
        z-index: 9;
        bottom: 0.5rem;
      }
    }
    .slick-active {
      opacity: 1;
    }
    .slick-active button {
      background: #fff;
      outline: none;
      box-shadow: none;
      &::before {
        background: #fff;
        opacity: 1;
        color: #0367b4;
        font-size: 1rem;
        transition: 0.5s ease-in-out;
      }
    }
  }

  .footer {
    margin: 0 -1rem -1.5rem -1rem;
    .footer-block__content,
    .contact-link {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .subnar__contet {
      padding: 0 !important;
    }
  }
}
