.start-lesson {
  max-width: 576px;
  .logo-box {
    margin-bottom: 47px;
  }
  .hightlight-box {
    background: #ffdacc;
  }
  .main-btn {
    line-height: 48px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .view-detail {
    border: 1px solid #0367b4;
    &:hover {
      color: #0367b4 !important;
    }
  }
}

.start-lesson-modal {
  padding-bottom: 36px !important;
  .main-btn {
    line-height: 48px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .view-detail {
    border: 1px solid #0367b4;
    &:hover {
      color: #0367b4 !important;
    }
  }
}
