@import "../../index.scss";

.lesson-detail {
  .lesson-border {
    border: 1px solid #0367b4;
  }
  .course-detail__teacher-card {
    min-width: 330px;
  }

  &__top-nav {
    .radian-btn {
      @include cta();
      background: $ctaBg2;
      text-transform: none;
    }
    .main-btn,
    .radian-btn {
      line-height: 38px;
    }

    .payment-status {
      background-color: #0367b4;
      color: white;
      border-radius: 3%;
      margin: 5px;
    }
    .payment-status:hover {
      background-color: #699dee;
    }
    .close-btn {
      width: 268px;
      background: linear-gradient(90deg, #ff005a 3.75%, #ff480d 100%);
    }
  }
  &__calendar-card {
    flex-basis: 15rem;
    .absolute-icon {
      width: 1.5rem;
      height: 1.5rem;
      background: $logoColor;
      border-radius: 50%;
      top: 0.375rem;
      right: 0.375rem;
    }
  }
  &__course-info-card {
    flex-grow: 2;
    min-width: 27rem;
    .done-mark {
      left: 50%;
      transform: translateX(-50%);
    }
    .hightlight-box {
      border-radius: 6px;
      background: $hightLightColor;
    }
    .hightlight-box-1 {
      border-radius: 6px;
      background: $hightLightColor1;
    }
  }
  &__teacher-card {
    flex-grow: 2;
  }
  &__document-card,
  &__note-card {
    &--document,
    &--content {
      border-bottom: 1px solid #c5c6d1;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__document-card {
    width: calc(33.33% - 0.5rem);
    &--file-input {
      border-radius: 6px;
      background: $logoColor;
      .content {
        border-radius: 6px;
        border: 1px dashed #c5c6d1;
      }
      .hidden-input {
        max-width: 10rem;
        margin: 0 auto 0.5rem auto;

        background: #ffffff;
        border-radius: 6px;
        input {
          width: 10rem;
          opacity: 0;
        }
        label {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          cursor: pointer;
        }
      }
    }
  }
  &__note-card {
    width: calc(33.33% - 0.5rem);
    .center-box {
      width: 2rem;
      height: 2rem;
      background: $logoColor;
      border-radius: 50%;
    }
  }
  &__homework-card {
    width: calc(33.33% - 0.5rem);
    .hidden-input {
      input {
        opacity: 0;
      }
      label {
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
      }
    }
  }
  &__qr-card {
    width: calc(33.33% - 0.5rem);
  }
}

.payment-modal {
  svg {
    font-size: 24px;
  }
}

@media screen and (max-width: 1150px) {
  .lesson-detail {
    &__block-1,
    &__block-2 {
      flex-wrap: wrap;
    }
    &__course-info-card,
    &__calendar-card {
      margin-bottom: 1rem;
    }
    &__course-info-card {
      flex-grow: 2;
    }
    &__document-card,
    &__note-card,
    &__homework-card {
      width: 100%;
      margin-bottom: 1rem;
    }
    &__calendar-card {
      flex-basis: 10rem;
    }
  }
}
