@import "../../../../index.scss";

.cancle-modal {
  top: 50%;
  transform: translateY(-50%) !important;
  width: 32rem;
  & > .modal-content {
    height: 12.5rem;
  }
  .modal-content,
  .card {
    text-align: center;
    border: none !important;
    .orange-btn-hover,
    .cancel-btn {
      font-weight: bold;
      padding: 0;
      width: 9.6rem;
      height: 3.3rem;
      line-height: 3.3rem;
      border-radius: 50px;
    }
  }
}
